---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 4
  main: 4
#  utility: 1
meta:
  description: "Get to know Jason and what he stands for."
  image:
    alt: "Image for sharing socially that you support Jason Deneau"
    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
permalink: /about/
#published: true
#schema:
#  type: "Thing"
sections:
  - cta
#sitemap: true
#tags: ["three", "four"]
title: "About Jason"
---

<section class="layout--stripe background-color--white">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Biography"
      classes=" heading--h1 text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex flex-direction--row-reverse">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse js--to-animate animation-name--reveal">
        <p>
          To crib <cite>Glengarry Glen Ross</cite>, "Always be closing." In this section you expose the what, the <em>why</em>,
          maybe sneak some <em>how</em> in there. All to serve purposes:
        </p>
        <ul>
          <li>Get the people visiting the site and reading this page to like and trust you</li>
          <li>Put a compelling story in front of what you're offering</li>
          <li>Give your brand a human face or ten</li>
          <li>Show how you're different from other brands in your space</li>
        </ul>

        <p>
          Write a few paragraphs! Use bullet lists and sub-headings for easy skimming. Let's keep things airy, and avoid
          big walls of text.
        </p>
      </aside>

      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
        padding-horizontal--4 padding-horizontal--collapse">
        {% include atoms/image.html
          src="1200x630/jason-deneau.jpg"
          alt="Jason smiling"
          classes=""
        %}
      </aside>
    </div>

  </div>
</section>

<section class="layout--stripe background-color--second-light background-image--hero-standout background-size--cover">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
    children="What we stand for"
    classes=" heading--h1 text-align--center"
    level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="layout--row display--flex">
      <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
        <p>
          We are special, distinct from our competition, and worthy of your time and money for the following reasons:
        </p>

        <ul>
          <li>You're on this site and not other ones</li>
          <li>We have lots of experience and knowledge/wisdom</li>
          <li>You fit our ideal demo/vertical, which are people aged 0-99 who are willing to spend money</li>
          <li>Our offering is luxurious, sustainable, and has the right number of options</li>
          <li>At one point or another, somebody affiliated with Google and Microsoft paid us for our expertise, we think</li>
          <li>You're one of upwards of two customers we've had</li>
        </ul>

        <p>
          Here's an unexpected and delightful fact about us: we started making our product by hand in a garage while listening
          to "How Bizarre" by OMC.
        </p>

        <blockquote>
          <p>We've gotten far, and soon we'll go further.</p>
        </blockquote>

        <p class="font-size--p875em text-align--right"><cite>- Guy Founderson, <i>founder</i></cite></p>
      </aside>
    </div>
  </div>
</section>
