---
authors:
  - brad-czerniak
#categories: ["one", "two"]
#date: 2020-03-03 02:02:02
front: true
#hero_classes: "background-color--main-dark color--white"
menus:
#  copyright: 1
  footer: 1
  main: 1
#  utility: 1
meta:
  description: "Elect Jason M Deneau for Berkley School Board"
#  image:
#    alt: "Default social image"
#    src: required/meta-image--default.jpg
#  robots: "index,follow"
#  title: "Overrides the tab title and social titles"
#permalink: /index.html
#published: true
redirect_from:
  - /home
#schema:
#  type: "Thing"
sections:
  - cta
#sitemap: true
#tags: ["three", "four"]
title: "Home"
---

<section class="layout--stripe background-color--second-light background-image--hero-home background-size--cover
  color--third-dark text-align--center background-image-display-mobile--hide" id="home">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Jason Deneau for Berkley School Board"
      classes=""
      level="1"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p class="font-size--2em">
          Pledging to continue the civil and collaborative momentum of our District. Please vote on November 8th, 2022.
        </p>
      </aside>
    </div>
  </div>
</section>

<section class="layout--stripe">
  <div class="layout--stripe--inner">
    {% include atoms/heading.html
      children="Hi."
      classes="text-align--center"
      level="2"
    %}

    {% include atoms/spacer.html size="4" %}

    <div class="display--flex layout--row justify-content--center">
      <aside class="display--flex flex-direction--column justify-content--center">
        <p>
          I am Jason M. Deneau, and I am running for a position on the Berkley School Board. My home is in Oak Park, which
          is a part of the Berkley School District.  The district is special in that it joins with the three cities – Oak
          Park, Huntington Woods and Berkley. My kids attend school in the district and have loved and appreciated every minute.
        </p>

        <p>
          Currently many school boards around the country are going through some very competitive elections. Tragically,
          many school boards have become full of conflicts and divisiveness.  As a member of the Berkley School Board, <strong>
          I pledge to continue the civil and collaborative environment of our wonderful Berkley School District</strong>.
          So, I’m asking for your vote today. Help me help our team to continue the forward momentum that our schools have
          enjoyed and benefited from thus far.
        </p>

        <p>
          <a class="button cta" href="{{ site.subpath }}{% link collections/pages/about.html %}">Learn about Jason</a>
        </p>
      </aside>
    </div>
  </div>
</section>
