---
authors:
  - brad-czerniak
#categories: ["one", "two"]
classes: "background-color--grey-light"
#date: 2020-03-03 02:02:02
#published: true
#tags: ["three", "four"]
title: "Support our cause"
title_classes: " text-align--center"
---

<div class="layout--row display--flex">
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center
    padding-horizontal--4 padding-horizontal--collapse">
    <p>
      Election campaigns, even small local ones, require money to be successful. Every last
      dime is accounted for, and goes toward signs, advertisements, pizza for volunteers, and campaign expenses.
    </p>

    <p>
      Please contribute to our drive to keep our children's education high-quality, well-funded, fair, and equitable for
      all.
    </p>

    {% include atoms/spacer.html size="2" %}

    <a class="button cta" href="https://secure.actblue.com/donate/deneau">Donate at ActBlue</a>
  </aside>
  <aside class="layout--column flex--1 display--flex flex-direction--column justify-content--center">
    {% include atoms/image.html
      src="required/meta-image--default.jpg"
      alt="Deneau campaign default social image"
      classes=""
      link_url="https://secure.actblue.com/donate/deneau"
    %}
  </aside>
</div>
